<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>02C9778B-AD52-4545-80E7-B87FE243566C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>淘宝</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}&amp;imgfile=&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;spm=a21bo.50862.201856-taobao-item.1&amp;ie=utf8&amp;initiative_id=tbindexz_20170420</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>17F6912F-E89A-447E-A146-0762F8BA0EBC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bl</string>
			<key>text</key>
			<string>哔哩哔哩</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>59A432DE-C546-426C-B0AA-AD52514395F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wx</string>
			<key>text</key>
			<string>微信</string>
			<key>url</key>
			<string>http://weixin.sogou.com/weixin?query={query}&amp;_asf=www.sogou.com&amp;_ast=&amp;w=01019900&amp;p=40040100&amp;ie=utf8&amp;type=2&amp;sut=1415&amp;sst0=1414592863512&amp;lkt=7%2C1414592862099%2C1414592862951</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5E93550A-B998-4D68-8553-686C6CE83A4B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zh</string>
			<key>text</key>
			<string>知乎</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?type=content&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8706717F-2D9B-49D9-9771-CEF170896179</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>db</string>
			<key>text</key>
			<string>豆瓣</string>
			<key>url</key>
			<string>http://movie.douban.com/subject_search?search_text={query}&amp;cat=1002</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A22E3249-2B84-49BC-AFDC-100329CDAF61</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6616AD3-E74B-4E5A-8410-399D8D4C9B69</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;amp;ref=opensearch</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
